<script>
$(function() {
    $("#datepicker").datetimepicker({
        inline: true,
        controlType: "select",
        showTime: false,
        showButtonPanel: false,
        timeFormat: "HH",
        altField: "#suggestiontime",
        altFormat: "yy-mm-dd",
        altTimeFormat: "hh:00:00",
        altFieldTimeOnly: false
    });
});
</script>

<h1>Suggest a new time</h1>

<div id="suggestdiv">
    <form action="/event/<%=@event.id%>/suggestion/new" method="post">
        <div id="datepicker"></div>
        <input id="suggestiontime" type="hidden" name="suggestiontime"></input>
        <div><input type="submit" value="Submit"/></div>
    </form>
</div>
