<% @title="- Responses for #{@event.name} at #{timesuggestion.time.strftime("%Y-%m-%d %H:00")}"%>
<table style="margin-left: auto; margin-right: auto; display: inline-block;">
    <thead>
    </thead>
    <tbody>
        <% timesuggestion.user_responses.each do |us| %>
            <%= erb :userresponse, :locals => {:userresponse => us} %>
        <% end %>
    </tbody>
</table><br/>
<a href="/event/<%= @event.id %>">back</a>
