<tr>
    <td><%= userresponse.user.name %></td>
    <% if userresponse.response %>
        <td class="ok">
        <%= "✓" %>
    <% else %>
        <td class="not_ok">
        <%= "✗" %>
    <% end %>
    </td>
</tr>
